
<div class="newest_form container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Add event
		</div>
		<div class="panel-body">
			<%= render 'form', newest: @newest %>
		</div>
	</div>
</div>
