// Place all the styles related to the Newest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_header{
	.main_header_center{
		height: 87px;
		margin: 0 auto;
		position:relative;
		.btn_add {
			float:right;
			position: absolute;
			right:0;
			top:50%;
			margin-top: -17px;
		}
	}


}
@supports (position: sticky) {
	.filters{
		position:absolute;

	}
}

.empty_case {
	text-align: center;
	margin: 30px 0;
}

.newest_items {

	.user_block {
		float: left;
	    margin-left: -85px;
	    position: relative;
	    text-align: center;

		.avatar {
			width: 65px;
			height: 65px;
		    border-radius: 50%;
		    position: relative;
		    margin: 5px auto 6px;
		    display: block;
		}

		.username {
			font-size: 12px;
			color: #000;
			text-decoration: underline;
			position: relative;
		}

		.username:hover {
			text-decoration: none;
		}
	}

	.logo_coin{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: inline-block;
		vertical-align:  bottom;

	}

	a.coin_block:hover{
		text-decoration:none;
	}
	.coinname{
		font-size: 16px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		vertical-align:  bottom;
	}

	.newest_timestamp {
		font-size: 12px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		vertical-align:  bottom;
		color: #000;
		margin-left:20px;
	}

	.newest{
		margin-left: 85px;
		padding-top: 8px;
	}

	.newest_text{
		margin-top: 10px;
	}

	.event_header{
		font-size: 18px;
		font-weight: bold;
	}

	.newest_item_header {
		.newest_butter_menu, .category_tag {
			line-height: 32px;
		}
		.category_tag {
			margin-right:20px;
		}
		.newest_butter_menu {
			padding: 0 10px;
			cursor:pointer;
		}
	}

	.butter_icon:before{
		content: "\f196";
		display: block;
	    font-family: "edgeicons";
	    font-weight: normal;
	    font-style: normal;
	    text-align: center;
	}

	.butter_icon_dots{
		background-image: url(image_url('61140.svg'));
	}

	.action_button {
		background: transparent;
	    border: 0;
	    padding: 0;
	    transition: box-shadow .15s ease-in-out;
	}
	.action_button_label{
		display:none;
	}

}


.float_coin_logo {
	margin: 5px;
	display: inline-block;
}

.list-group .list-group-item .ui-menu-item-wrapper {
	background-color: transparent;
	border: 0;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

