// Place all the styles related to the Newest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_header{
	.main_header_center{
		width: 588px;
		height: 87px;
		margin: 0 auto;
		position:relative;
		.btn_add {
			width: 144px;
			height: 34px;
			border-radius: 18px;
			background-color: #2c7e9b;
			color: #ffffff;
			display: block;
			float:right;
			position: absolute;
			right:0;
			top:50%;
			margin-top: -17px;
		}
	}


}

.newest_items {
	margin: 0 auto;
	width: 588px;
	background-color: #ffffff;
	border: solid 1px #979797;

	.newest_item {
		border-bottom: solid 1px #979797;
	}

	.newest_item:last-child {
		border-bottom: none;
	}

	.user_block {
		float: left;
		width: 96px;
		height: 80px;
	    margin-left: -96px;
	    position: relative;
	    text-align: center;

		.avatar {
			width: 65px;
			height: 65px;
		    border-radius: 50%;
		    position: relative;
		    margin: 5px auto 6px;
		    display: block;
		}

		.username {
			font-size: 12px;
			color: #000;
			text-decoration: underline;
			position: relative;
		}

		.username:hover {
			text-decoration: none;
		}
	}

	.logo_coin{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: inline-block;
		vertical-align:  bottom;

	}

	.coinname{
		font-size: 16px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		vertical-align:  bottom;
	}

	.category_tag{
		float: right;
		margin-right: 62px;
		margin-top: 9px;
	}

	.newest_timestamp {
		font-size: 12px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		vertical-align:  bottom;
		color: #000;
	}

	.newest{
		margin-left: 96px;
		padding-top: 8px;
	}

	.newest_text{
		margin-top: 10px;
	}

	.feed_image {
		width:470px;
	}
	.feed_img_tag{
		max-width: 100%;
    	max-height: 100%;
	}

	.event_header{
		font-size: 18px;
		font-weight: bold;
	}

	.newest_butter_menu {
		float: right;
	    margin: -2px -9px 0 0;
	    min-width: 0;
	}

	.butter_icon:before{
		content: "\f196";
		display: block;
	    font-family: "edgeicons";
	    font-weight: normal;
	    font-style: normal;
	    text-align: center;
	}

	.butter_icon_dots{
		background-image: url(image_url('61140.svg'));
	}

	.action_button {
		background: transparent;
	    border: 0;
	    padding: 0;
	    transition: box-shadow .15s ease-in-out;
	}
	.action_button_label{
		display:none;
	}

	.action_negative{
		color: #35763f;
	}

	.action_positive{
		color: #b21313;
	}
}


.newest_form.container {
	width:580px;
}

.filter_form.container {
	width:480px;
	float:left;
}

